.chessTable-wrapper{
    width: 700px;
    height: 700px;
    background-color: #D4CDC7;
    margin: 20px auto;
}

.letters .digits{
    display: flex;
}

.letters{
    width: 600px;
    height: 50px;
    margin: 0px 50px;
    display: flex;
}

.letters span{
    width: 100px;
    font-size: 24px;
    margin-left: 30px;
}

.center-container{
    display: flex;
    justify-content: space-between;
}

.digits{
    width: 50px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.digits span{
    height: 100px;
    font-size: 24px;
    margin-top: 25px;
    align-self: center;
}


table{
    width: 600px;
    height: 600px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    width: 50px;
    height: 50px;
    text-align: center;
}

td.green{
    background-color: #153A31;
}

td.white{
    background-color: #D4CDC7;
}

.rotate{
    transform: rotate(180deg);
}

.letters > .rotate{
    margin-right: 30px;
}

.digits > .rotate{
    margin-bottom: 15px;
}