.buttons-wrapper{
    width: 700px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

.buttons-wrapper > button , .new-game > button {
    color: #699DD9;
    background-color: white;
    border: 1px solid #699DD9;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 18px;
}

.buttons-wrapper > button:hover, .new-game > button:hover{
    cursor: pointer;
}

.new-game{
    position: relative;
}

.new-game span{
    visibility: hidden;
    width: 180px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    right: 100%;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}


.new-game:hover .tooltip-new-game {
    visibility: visible;
  }