*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
}

section{
  display: flex;
  flex-direction: row;
}

.player{
  width: 25%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.pieces{
  width: 450px;
  height: 150px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.pieces div{
    background-size: 850px;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    border: 5px solid green;
    margin-left: 10px;
}

.dead{
  border: 5px solid red !important;
}

.pieces-white .knight {
  background-image: url('./components/Piece/img/pieces.png');
  background-position: 60% 0%;
}

.pieces-white .bishop {
  background-image: url('./components/Piece/img/pieces.png');
  background-position: 40% 0%;
}

.pieces-white .queen {
  background-image: url('./components/Piece/img/pieces.png');
  background-position: 20% 0%;
}

.pieces-black .knight {
  background-image: url('./components/Piece/img/pieces.png');
  background-position: 60% 100%;
}

.pieces-black .bishop {
  background-image: url('./components/Piece/img/pieces.png');
  background-position: 40% 100%;
}

.pieces-black .queen {
  background-image: url('./components/Piece/img/pieces.png');
  background-position: 20% 100%;
}



.game{
  width: 40%;
  margin-left: 20px;
}

.moves{
  width: 700px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.moves-header{
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.moves-header div{
  height: 40px;
  width: 33%;
  text-align: center;
  border: 1px solid grey;
}

.move{
  display: flex;
  flex-direction: row;
  position: relative;
}

.move:hover{
  cursor: pointer;
}


.move span{
  visibility: hidden;
  width: 220px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  left: 100%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}


.move:hover .tooltip-new-game , .move:hover .tooltiptext{
  visibility: visible;
}

.move div{
  height: 40px;
  width: 33%;
  text-align: center;
  padding-top: 10px;
  border: 1px solid grey;
}

