.piece{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-image: url('./img/pieces.png');
    background-size: 350px;
    background-repeat: no-repeat;
}

div.white-queen {
    background-position: 20% 0%;
}

div.black-queen{
    background-position: 20% 100%;
}

div.white-bishop {
    background-position: 40% 0%;
}

div.black-bishop{
    background-position: 40% 100%;
}

div.white-knight {
    background-position: 60% 0%;
}

div.black-knight{
    background-position: 60% 100%;
}